nav {
  height: 60px;
  background-color: #c4df9b;
  margin:0px;
}

ul {
  padding:0px;
  margin: 0px;
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
  color:black;
  padding: 10px;
}


.dropdown {
  position:relative;
}

.dropnav {
  position:absolute;
  display: none;
}

.dropnav li {
  width:130px;
  margin: 0px;
  background-color: lightgrey;
  padding:5px;
}

.dropnav li a:hover {
 color:  #6BA6BF;

}
.dropdown:hover .dropnav {
  display: block;
}

.logo {
  float: left;
  margin: 0px 10px;
}

.navleft {
  float:left;
  top:25px;
  left: 20px;
  margin: 20px;
}

li .navleft {
  margin-left: 10px;
}

a:hover {
  color:grey;
  }

.navright {
  float:right;
  width: 25%
  padding: 10px;
  margin-top: 15px;
}

.navright img {
    border-radius: 20px;
}

.sidenavmobile {
  display: none;
}
.sidenav {

float: left;
position: fixed;
margin: 10px;}

.sidenav li {
  display:block;
}

.sidenav h4 {
  padding:10px 0px 0px;}

.sidenav a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 12px;
  color:darkgrey;
}

.sidenav a:hover {
  color:black;
}


h1 {
margin:0px;
text-align: center;
font-family: mrs-eaves, serif;
font-size: 50px;
color: black;
padding: 50px;
}

h2 {
margin:0px;
text-align: left;
font-family: mrs-eaves, serif;
font-variant: small-caps;
font-weight: lighter;
font-size: 30px;
color: black;
padding: 20px;
}

h3 {
  color:#4D4D4D;
  font-family:mrs-eaves, serif;
  font-size: 24px;
  font-variant-caps: petite-caps;
  margin:0px;
}

h4 {
  color:#4D4D4D;
  font-family:mrs-eaves, serif;
  font-size: 20px;
  font-variant-caps: petite-caps;
  margin: 0px;
}

h5 {
  color:black;
  font-family:mrs-eaves, serif;
  font-size: 16px;
  margin: 0px;
}

p {font-family: mrs-eaves;
font-style: normal;}

i {margin: 0px 10px;}

.recent {
  color: #6BA6BF;
}

.fave {
  color: #996D4E;
}

.toread {
  color: #74397C;
}

.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1.5em; /* Change the size of the stars */
  color:#ccc;
  margin: 5px 0px;
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

.SectionContainer {display: block;
margin-left: 150px;
clear:both;}

.bookgrp {
  text-align: left;
  width: 30%;
  }

.bookimg img{
  max-height: 130px;
  padding-top: 10px;
  padding-right: 10px;
  float:left;
  margin: 0px;
}
.booktext img{
  height:20px;
  margin: 0px;
  clear:both;
}
.booktext p{
margin: 10px;
}

.bookinfocontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.bookgrp {
  margin: 10px 10px;
  display: block;
}

a .viewmorelink { display: block;
text-align: right;}

.viewmorelink:hover {
  color:  #c4df9b;
}

.lastbookgrp i{
  padding: 50px 0px 30px;
  font-size: 60px;
  color: #c4df9b;
}

h6 {
  font-family: mrs-eaves, serif;
  font-size: 16px;
  font-weight: lighter;
  margin: 0px;
  display: inline-block;
  padding: 10px 20px;
}

footer nav{
  text-align: center;
  padding: 20px 10px 0px;
}
.navfoot ul{
  float: right;
  display: inline-block;
  width: 75%;
  margin-top: 10px;
}
footer h6 {
  float: left;
  width: 25%;}


a:hover {
  color:grey;
  }

@media (min-width:761px) and (max-width:2000px)
  {
  .logo {
    height:30px;
    width:130px;
    padding: 10px;}
  }
@media (min-width:480px) and (max-width:760px) {
.logo {
  height:30px;
  padding: 10px;}

.navleft {
  width: 50%;
  float: right;
}

a {
  font-size:.5em;
}
.navright {
  display: none;
}

.recent {
font-size: 1.5em;}

.fave {
  font-size: 1.5em;;
}

.toread {
  font-size: 1.5em;}

}

@media (min-width:320px) and (max-width:479px) {

.bookgrp {
    text-align: left;
    width: 70%;
  float: left;}
.logo {
  height:20px;
  position: relative;
  top:10px;
  margin: 0px 0px 0px 10px;}

a {
  font-size:.5em;
}

h3 {
  color:#4D4D4D;
  font-family:mrs-eaves, serif;
  font-size: 20px;
  font-variant-caps: petite-caps;
  margin:0px;
  padding: 0px;
}

h4 {
  color:#4D4D4D;
  font-family:mrs-eaves, serif;
  font-size: 14px;
  font-variant-caps: petite-caps;
  margin: 0px;
  padding: 0px;
}

.navright {
  display: none;
}

.recent {
font-size: 1.5em;}

.fave {
  font-size: 1.5em;;
}

.toread {
  font-size: 1.5em;}

}

@media (max-width:319px)
{ .sidenav {
  display:inline-block;
}
.recent {
font-size: 1.5em;}

.fave {
  font-size: 1.5em;;
}

.toread {
  font-size: 1.5em;}

}
}
